.header__bot-nav {
    margin-bottom: 35px;
}

.tree {
    display: flex;
    color: #555048;
}

.tree__btn {
    font-size: 12px;
    margin-right: 15px;
}

.tree__separator {
    font-size: 12px;
    margin-right: 15px;
}

.about__head {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 115px;
    padding-bottom: 116px;
}

.head__title {
    font-family: var(--ff-varta);
    font-weight: 700;
    font-size: 40px;
    max-width: 569px;
    color: #fff;
    line-height: 54px;
    margin-bottom: 20px;
}

.head__item {
    display: flex;
}

.head__items {
    padding: 9px 15px;
    background-color: rgba(255, 255, 255, 0.7);
}

.head__items:not(:last-child) {
    margin-right: 10px;
}

.about__main {
    padding-top: 50px;
    padding-bottom: 100px;
}

.main__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__text p {
    max-width: 800px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.main__text p:not(:last-child) {
    margin-bottom: 14px;
}
