.tree {
    padding-top: 35px;
    display: flex;
    color: #555048;
}

.tree__btn {
    font-size: 12px;
    margin-right: 15px;
}

.tree__separator {
    font-size: 12px;
    margin-right: 15px;
}

.rating {
    display: flex;
    align-items: flex-end;
    font-size: 40px;
    line-height: 0.75;
    transition: opacity 0.3s ease 0s;
}
.rating.rating_sending {
    opacity: 0.2;
}
.rating.rating_set .rating__active,
.rating.rating_set .rating__item {
    cursor: pointer;
}

.rating__body {
    position: relative;
}
.rating__body::before {
    content: "★★★★★";
    display: block;
}
.rating__active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating__active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #edd453;
}

.rating__items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.rating__item {
    flex: 0 0 20%;
    height: 100%;
    opacity: 0;
}
.rating__value {
    font-size: 50%;
    line-height: 1;
    padding: 0px 0px 0px 10px;
}

.about__header {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.about__partner {
    padding-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.partner__logo {
    max-width: 194px;
    max-height: 48px;
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
}

.partner__name {
    font-family: var(--ff-varta);
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.rating {
    margin-bottom: 34px;
}

.rating__value {
    display: none;
}

.partner__socials {
    display: flex;
    margin-bottom: 30px;
}

.partner__social {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px 0;
    padding-left: 12px;
    padding-right: 61px;
    position: relative;
}

.partner__social:not(:last-child) {
    margin-right: 10px;
}

.social__title {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
}

.social__links {
    color: #f8f6fb;
    font-weight: 600;
    font-size: 12px;
}

.partner__img {
    display: block;
    border: 1px solid #fff;
    position: absolute;
    width: 35px;
    height: 35px;
    padding-top: 8.2px;
    border-radius: 50%;
    right: 12px;
}

.partn-sliders__items {
    position: relative;
}

.partn-sliders__title {
    position: absolute;
    left: 20px;
    bottom: 35px;
    font-family: var(--ff-varta);
    font-weight: 700;
    font-size: 24px;
    color: #f8f6fb;
}

.swiper_scrollbar,
.swiper-scrollbar-drag {
    color: #f8f6fb;
    background-color: #f8f6fb !important;
}

.about-text {
    padding-top: 100px;
    padding-bottom: 100px;
}

.about__text-partn {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about__text-partn > p:not(:last-child) {
    margin-bottom: 30px;
}

@media screen and (max-width: 992px) {
    .partn-sliders__items {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}

@media screen and (max-width: 568px) {
    .partner__socials {
        width: 75vw;
        justify-content: space-between;
    }

    .partner__social:first-child > .social__title,
    .partner__social:first-child > .social__links,
    .partner__social:last-child > .social__links,
    .partner__social:last-child > .social__title {
        display: none;
    }

    .partner__social:first-child,
    .partner__social:last-child {
        padding-right: 47px;
        padding-left: 12px;
    }

    .partner__img {
        top: 14px;
    }

    .partn-sliders__items {
        max-width: 266px;
    }
}

@media screen and (max-width: 425px) {
    .partner__socials {
        width: 90vw;
    }

    .partner__social:nth-child(2) {
        padding-left: 15px;
        padding-right: 35px;
    }

    .partn__slders-cont {
        max-width: 375px;
        margin: 0 auto;
    }

    .partn-sliders__items {
        max-width: 375px;
    }
}

@media screen and (max-width: 375px) {
    .partner__social:nth-child(2) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 320px) {
    .partner__social:nth-child(2) {
        padding-left: 5px;
        padding-right: 5px;
    }
}
