@font-face {
    font-family: "Varta";
    font-style: Light;
    font-weight: 300;
    src: url("/fonts/Varta-Light.woff2") format("woff2"), url("/fonts/Varta-Light.woff") format("woff");
}

@font-face {
    font-family: "Varta";
    font-style: Regular;
    font-weight: 400;
    src: url("/fonts/Varta-Regular.woff2") format("woff2"), url("/fonts/Varta-Regular.woff") format("woff");
}

@font-face {
    font-family: "Varta";
    font-style: Medium;
    font-weight: 500;
    src: url("/fonts/Varta-Medium.woff2") format("woff2"), url("/fonts/Varta-Medium.woff") format("woff");
}

@font-face {
    font-family: "Varta";
    font-style: Bold;
    font-weight: 700;
    src: url("/fonts/Varta-Bold.woff2") format("woff2"), url("/fonts/Varta-Bold.woff") format("woff");
}

@font-face {
    font-family: "Varta";
    font-style: Semibold;
    font-weight: 900;
    src: url("/fonts/Varta-SemiBold.woff2") format("woff2"), url("/fonts/Varta-SemiBold.woff") format("woff");
}
