:root {
    --color-text: #08266e;
    --color-recalls: #999;
    --color-black: #000;
    --ff-varta: "Varta", sans-serif;
    --color-texts: #555048;
    --bg-header: #f8f6fb;
    --title-menu-first: #cbe6f7;
    --wdith-Screen: 1440;
}

body {
    font-family: "Open sans", sans-serif;
    font-size: calc(15px + 1 * ((100vw - 320px) / var(--wdith-Screen)));
    font-weight: 400;
    line-height: 21px;
    background-color: #f8f6fb;
    overflow-x: hidden;
}

@media screen and (min-width: 1230px) {
    .top__link,
    .switch {
        font-size: 12px !important;
    }

    .items__color,
    .items__recalls,
    .tickets__subtitle {
        font-size: 14px !important;
    }

    body {
        font-size: 16px !important;
    }

    .bot__btn,
    .menu__title,
    .menu__link,
    .arts__title,
    .catalog__about,
    .items__btn {
        font-size: 16px !important;
    }

    .poap__input,
    .poap__input::placeholder,
    .form__input-tel,
    .form__input-tel::placeholder {
        font-size: 18px !important;
    }

    .items__name,
    .help__subtitle {
        font-size: 20px !important;
    }

    .items__prices {
        font-size: 22px !important;
    }

    .ticket__text {
        font-size: 24px !important;
    }

    .items__subtitle {
        font-size: 30px !important;
    }

    .tickets__title,
    .title {
        font-size: 35px !important;
    }

    .help-form__title {
        font-size: 25px !important;
    }

    .ideas__title,
    .poap__title,
    .success__title {
        font-size: 40px !important;
    }

    .items__title {
        font-size: 55px !important;
    }
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    padding-top: 24px;
}

.header__top {
    display: flex;
    align-items: center;
    color: var(--color-texts);
    margin-bottom: 22px;
}

.header__menu-btn {
    width: 30px;
    height: 20px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    margin-right: calc(50% - 176px + 60px);
    opacity: 1;
    transition: margin-right 0.3s, opacity 0.3s;
    padding: 0;
}

.header__menu-btn.active {
    margin-right: -30px;
    opacity: 0;
}

.bot__menu-btn {
    margin-left: auto;
    margin-right: 25px;
}

.header__menu-btn::after,
.header__menu-btn::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: #000;
    transition: transform 0.3s;
}

.header__menu-btn::after {
    bottom: 0;
}

.header__menu-btn::before {
    top: 2px;
}

.active.header__menu-btn::after {
    transform: rotate(135deg);
    bottom: 9px;
}

.active.header__menu-btn::before {
    transform: rotate(-135deg);
    top: 10px;
}

.menu-btn {
    position: absolute;
    top: 50%;
    height: 2px;
    width: 30px;
    background-color: #000;
    border-radius: 2px;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.3s linear, opacity 0.3s linear;
}

.header__menu-btn.active > .menu-btn {
    opacity: 0;
    transform: scale(0);
}

.header__logo {
    margin-right: auto;
}

.top__nav {
    margin-right: 57px;
}

.top__item {
    display: flex;
}

.top__items:not(:last-child) {
    margin-right: 22px;
}

.top__link {
    font-weight: 400;
    font-size: calc(12px + 0 * ((100vw - 320px) / var(--wdith-Screen)));
    line-height: 16px;
}

.switch {
    font-weight: 400;
    font-size: calc(12px + 0 * ((100vw - 320px) / var(--wdith-Screen)));
    line-height: 14px;
    color: var(--color-texts);
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.switch:first-child {
    border-right: 1px solid var(--color-texts);
    padding: 0 6px 0 0;
}

.header__bot {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.bot__btn {
    font-weight: 600;
    font-size: calc(15px + 1 * ((100vw - 320px) / var(--wdith-Screen)));
    line-height: 22px;
    padding: 0;
    border-bottom: 1px solid transparent;
    transition: color 0.3s linear, border-bottom 0.3s linear;
}

.bot__btn:not(:last-child) {
    margin-right: 24px;
}

.bot__btn-active {
    color: var(--color-text);
    border-bottom: 1px solid var(--color-text);
}

.bot__nav {
    width: 100%;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 18px 1fr;
    align-items: center;
    row-gap: 32px;
    margin-bottom: 22px;
}

.bot__nav-close {
    width: 17px;
    height: 17px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    transform: rotate(45deg);
    padding: 0;
    margin-left: 25px;
}

.bot__nav-title {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    border-bottom: 1px solid var(--color-text);
    padding-bottom: 1px;
    color: var(--color-text);
}

.bot__menu-btns,
.bot__menu-btn {
    display: flex;
    align-items: center;
    position: relative;
    width: 17px;
    height: 17px;
    padding: 0;
    align-self: end;
    margin: 0 25px 0 auto;
}

.bot__menu-btns::after,
.bot__menu-btns::before,
.bot__menu-btn::after,
.bot__menu-btn::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 2px;
    background-color: #000;
}

.bot__menu-btns::before,
.bot__menu-btn::before {
    transform: rotate(45deg);
}

.bot__menu-btns::after,
.bot__menu-btn::after {
    transform: rotate(-45deg);
}

.bot__menu-btn {
    display: none;
}

.header__menu {
    position: absolute;
    top: 120px;
    width: 100vw;
    right: 0;
    z-index: -1;
    background-color: var(--bg-header);
    padding: 57px 0 64px 0;
    visibility: hidden;
    overflow-x: hidden;
    opacity: 0;
    transition: all 0.3s, width 0.3s cubic-bezier(0.4, 0, 1, 1) 0.2s;
}

.header__menu[data-page] {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.menu__item {
    max-width: 764px;
    display: grid;
    grid-template-columns: 176px 215px 180px;
    column-gap: 96px;
    row-gap: 40px;
}

.menu__items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.menu__title {
    font-weight: 600;
    font-size: calc(15px + 1 * ((100vw - 320px) / var(--wdith-Screen)));
    line-height: 22px;
    margin-bottom: 20px;
}

.menu__list {
    display: flex;
    flex-direction: column;
}

.b-menu__item:not(:last-child) {
    margin-bottom: 11px;
}

.menu__link {
    color: var(--color-texts);
    font-weight: 400;
    font-size: calc(15px + 1 * ((100vw - 320px) / var(--wdith-Screen)));
    line-height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s linear, color 0.3s linear;
    white-space: pre;
}

.menu__link:hover {
    color: var(--color-text);
    border-bottom: 1px solid var(--color-text);
}

.menu__art {
    display: flex;
    flex-direction: column;
}

.menu__arts {
    position: relative;
    max-width: 340px;
}

.menu__arts:not(:last-child) {
    margin-bottom: 30px;
}

.menu__arts:nth-child(1) > .arts__title {
    background-color: #cbe6f7;
}

.arts__title {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--bg-header);
    font-family: var(--ff-varta);
    font-weight: 400;
    font-size: calc(15px + 1 * ((100vw - 320px) / var(--wdith-Screen)));
    line-height: 26px;
    padding: 12px 0 4px 13px;
}

@media screen and (max-width: 992px) {
    .header__menu-btn {
        display: flex;
    }

    .menu__art {
        display: none;
    }

    .header__logo {
        flex: unset;
        margin-right: auto;
    }

    .header__bot {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        position: absolute;
        padding: 49px 0 100px 26px;
        left: 0;
        top: 94px;
        width: 95vw;
        transform: translateX(-100vw);
        height: 100vh;
        z-index: 9999;
        background: var(--bg-header);
        transition: transform 0.3s cubic-bezier(0.4, 0, 1, 1) 0.2s;
    }

    .header__bot.active {
        overflow-y: scroll;
        transform: translateX(0);
    }

    .top__item {
        flex-direction: column;
    }

    .bot__btn {
        margin-right: unset !important;
        margin-bottom: 22px;
    }

    .header__menu {
        width: 0;
        height: 100vh;
    }

    .header__menu[data-page] {
        visibility: unset;
        opacity: unset;
        z-index: unset;
    }

    .header__menu.active {
        visibility: visible;
        opacity: 1;
        z-index: 9999;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .header__menu.actives {
        width: 100vw;
    }

    .header__wrapper {
        justify-content: start;
        padding-bottom: 64px;
    }

    .header__menu-btn,
    .bot__menu-btn {
        display: flex;
    }

    .bot__nav {
        display: grid;
    }

    .menu__item {
        grid-template-columns: repeat(2, 1fr);
    }
}

.catalog {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #f8f6fb;
}

.catalog__btn {
    display: flex;
    margin-bottom: 20px;
}

.catalog__about {
    font-size: calc(15px + 1 * ((100vw - 320px) / var(--wdith-Screen)));
    line-height: 22px;
    margin-left: auto;
}

.catalog__slders-cont {
    position: relative;
    padding-bottom: 100px;
}

.catalog__sliders {
    position: relative;
    overflow: hidden;
    margin: 0 -3px;
}

.sliders__item {
    display: flex;
}

.sliders__items {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    padding-top: 36px;
    padding-bottom: 26px;
    background-color: #fff;
    min-width: 179px;
    max-width: 259px;
    max-height: 351px;
    border: 2px solid transparent;
    transition: border 0.3s;
    margin: 0 3px;
}

.sliders__items:hover,
.sliders__items:active {
    border: 2px solid var(--color-text);
}

.items__img {
    max-width: 256px;
    max-height: 202px;
    margin-bottom: 47px;
    margin-right: auto;
    margin-left: auto;
}

.items__stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.items__color {
    color: var(--color-text);
    font-size: calc(12px + 2 * ((100vw - 320px) / var(--wdith-Screen)));
}

.items__recalls {
    font-weight: 700;
    font-size: calc(12px + 2 * ((100vw - 320px) / var(--wdith-Screen)));
    color: var(--color-recalls);
}

.items__param {
    display: flex;
    flex-direction: column;
}

.items__name {
    font-family: var(--ff-varta);
    font-weight: 400;
    font-size: calc(13px + 7 * ((100vw - 320px) / var(--wdith-Screen)));
    line-height: 29px;
    margin-bottom: 22px;
}

.items__prices {
    font-family: var(--ff-varta);
    font-weight: 700;
    font-size: calc(20px + 2 * ((100vw - 320px) / var(--wdith-Screen)));
    color: var(--color-black);
}

.catalog__arrow {
    z-index: 10;
    position: absolute;
    width: 49px;
    height: 49px;
    border-radius: 50%;
    border-color: transparent;
    background-color: #fff;
    top: 45%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.catalog__prev {
    left: -15px;
}

.catalog__prev[disabled],
.catalog__next[disabled] {
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
}

.catalog__next {
    right: -15px;
}

.swiper__scrollbar {
    opacity: 1 !important;
    height: 1px;
    position: absolute;
    bottom: 50px;
    background-color: #000;
    border-radius: unset;
    z-index: 4;
}

.swiper__scrollbar > .swiper-scrollbar-drag {
    background-color: #000;
    height: 4px;
    border-radius: unset;
}

.help-form {
    background-color: #cbe6f7;
    padding: 32px 0;
    position: relative;
}

.help-form > .container {
    display: flex;
    justify-content: space-between;
}

.help-form__text {
    display: flex;
    align-items: center;
}

.help-form__title {
    font-family: var(--ff-varta);
    font-weight: 400;
    font-size: calc(18px + 7 * ((100vw - 320px) / var(--wdith-Screen)));
    line-height: 36px;
    display: inline-block;
    margin-right: 35px;
}

.help-form__question {
    color: #fff;
    width: 26px;
    height: 26px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #67a6db;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
}

.tickets__question:hover {
    background-color: #fff;
    color: #67a6db;
}

.help__form {
    margin-left: auto;
    display: flex;
    max-width: 585px;
    width: 100%;
}

.form__input-tel {
    padding-left: 7px;
    padding-top: 18px;
    padding-bottom: 15px;
    border: none;
    font-size: calc(14px + 4 * ((100vw - 320px) / var(--wdith-Screen)));
    color: var(--color-recalls);
    width: 100%;
    max-width: 374px;
}

.form__input-tel::placeholder {
    font-size: calc(14px + 4 * ((100vw - 320px) / var(--wdith-Screen)));
    color: var(--color-recalls);
}

.form__input-btn {
    border-color: transparent;
    background-color: var(--color-text);
    color: #fff;
    max-width: 211px;
    width: 100%;
    appearance: none;
    border-radius: 0;
}

.ideas-to-home {
    padding-top: 100px;
    padding-bottom: 100px;
}

.ideas__title {
    font-size: calc(25px + 15 * ((100vw - 320px) / var(--wdith-Screen)));
    line-height: 58px;
    margin-bottom: 8px;
}

.ideas__btn {
    margin-bottom: 20px;
}

.ideas__tickets {
    display: flex;
}

.ideas__ticket {
    display: flex;
    flex-direction: column;
}

.ideas__ticket:not(:last-child) {
    margin-right: 30px;
}

.ideas__img-cont {
    max-width: 587px;
    max-height: 350px;
    margin-bottom: 13px;
    border: 2px solid transparent;
    transition: all 0.3s;
    position: relative;
    z-index: 10;
}

.ideas__img-cont::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    transition: background-color 0.3s;
}

.ticket__img {
    max-width: 100%;
}

.ideas__ticket:hover > .ideas__img-cont {
    border: 2px solid var(--color-text);
    background-color: var(--color-text);
}

.ideas__ticket:active > .ideas__img-cont::after {
    background-color: rgba(8, 38, 110, 0.2);
}

.ideas__ticket:hover > .ticket__text {
    color: var(--color-text);
}

.ticket__text {
    font-size: calc(18px + 6 * ((100vw - 320px) / var(--wdith-Screen)));
    line-height: 32px;
    transition: all 0.3s;
}

.partners {
    padding-bottom: 150px;
}

.partn__slders-cont {
    position: relative;
}

.partn__sliders {
    overflow: hidden;
}

.partn-sliders__items {
    max-width: 295px;
    width: 100vw;
    max-height: 416px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.partn__prev {
    left: -15px;
}

.partn__arrow {
    width: 49px;
    height: 49px;
    background-color: #fff;
    border-radius: 50%;
    border-color: transparent;
    position: absolute;
    top: 50%;
    z-index: 3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.partn__next {
    right: -15px;
}

.partn__prev[disabled],
.partn__next[disabled] {
    opacity: 0;
    z-index: -1;
    transition: all 0.3s;
}

.swiper_scrollbar {
    opacity: 1 !important;
    height: 1px;
    position: absolute;
    bottom: -50px;
    background-color: #000;
    border-radius: unset;
    z-index: 4;
}

.swiper_scrollbar > .swiper-scrollbar-drag {
    background-color: #000;
    height: 4px;
    border-radius: unset;
}

.footer {
    padding-top: 69px;
    padding-bottom: 23px;
    background-color: var(--color-text);
    color: #fff;
}

.footer__nav {
    display: grid;
    grid-template-columns: 119px 256px 196px 134px;
    justify-content: space-between;
    margin-bottom: 23px;
}

.nav__lists {
    display: flex;
    flex-direction: column;
}

.nav__title {
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 20px;
}

.nav__item {
    display: flex;
    flex-direction: column;
}

.nav__items:not(:last-child) {
    margin-bottom: 20px;
}

.nav__links {
    color: #f8f6fb;
    line-height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
    padding-bottom: 5px;
}

.nav__links:hover {
    border-bottom: 1px solid #f8f6fb;
}

.footer__coopyright {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

hr {
    margin-bottom: 24px;
}

.footer__socials {
    display: flex;
    margin-bottom: 27px;
}

.footer__social {
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.footer__social:first-child {
    margin-left: auto;
}

.footer__social:not(:last-child) {
    margin-right: 15px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.swiper_scrollbar,
.swiper__scrollbar {
    left: 0;
    right: 0;
}

.scroll-lock {
    overflow: hidden;
    height: 100vh;
}

.nav__cont--first,
.nav__cont--sec {
    display: none;
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .sliders__items {
        max-width: 258px;
        padding: 36px 13px 26px 13px;
    }
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 992px;
    }

    .catalog__about {
        font-size: 16px;
    }

    .header__menu {
        top: 73px;
        height: 100vh;
        overflow-x: hidden;
    }

    .sliders__items {
        padding: 36px 16px 26px 16px;
        margin: 0 14px;
        max-width: 259px;
    }

    .help-form__title {
        font-size: 20px;
    }

    .help__form {
        max-width: 500px;
    }

    .catalog__arrow,
    .partn__arrow {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .footer__nav {
        grid-template-columns: repeat(2, 1fr);
    }
    .nav__lists:last-child {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .nav__title {
        font-weight: 700;
        font-size: 15px;
        margin-bottom: 16px;
    }

    .nav__items:not(:last-child) {
        margin-bottom: 15px;
    }

    .nav__links {
        font-weight: 400;
        font-size: 15px;
    }

    .footer__socials {
        justify-content: center;
    }

    .footer__social:first-child {
        margin-left: unset;
    }

    .nav__lists:not(:last-child) {
        margin-bottom: 22px;
    }

    .nav__cont--first,
    .nav__cont--sec {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .sliders__items {
        max-width: 206px;
        margin: 0 3px;
    }

    .items__img {
        width: 75%;
    }

    .help-form__text {
        justify-content: center;
        margin-bottom: 10px;
    }

    .help__form {
        margin-left: unset;
        margin: 0 auto;
    }

    .help-form > .container {
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 568px) {
    .sliders__items {
        max-width: 230px;
    }

    .help-form__title {
        font-size: 16px;
    }

    .ideas__tickets {
        flex-direction: column;
    }

    .ideas__ticket:not(:last-child) {
        margin-right: unset;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 425px) {
    .items__img-partn {
        width: 80%;
    }

    .items__img {
        width: 65%;
    }

    .sliders__items {
        max-width: 179px;
        padding: 26px 6px;
    }
}

@media screen and (max-width: 375px) {
    .menu__item {
        grid-template-columns: 1fr;
    }

    .help-form__text {
        justify-content: space-between;
    }

    .help-form__title {
        margin-right: unset;
    }

    .sliders__items {
        max-width: 328px;
    }

    .items__recalls,
    .items__color {
        font-size: 16px;
    }

    .items__name {
        font-size: 18px;
    }

    .items__prices {
        font-size: 22px;
    }
}

@media screen and (max-width: 320px) {
    .sliders__items {
        max-width: 272px;
    }
}
