:root {
    --rows: 2;
}

.about-to__price {
    padding-bottom: 100px;
}

.price__top {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

.price__picture {
    padding-top: 46px;
}

.price__picture-big {
    overflow: hidden;
    position: relative;
    max-width: 660px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
}
.picture__slider-wrap {
    margin: 0 auto;
}
.picture__slide-img {
    margin: 0 auto;
}

.picture__perview-wrap {
    display: grid;
    grid-template-columns: repeat(4, 158px);
    grid-template-rows: repeat(var(--rows), 93px);
}

.perview__slide {
    width: 153px !important;
}

.price__prev,
.price__next {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 50%;
    position: absolute;
    z-index: 5;
    top: 45%;
}

.price__prev {
    left: 0;
}

.price__next {
    right: 0;
}

.perview__slide {
    border: 3px solid transparent;
}

.perview__slide.swiper-slide-thumb-active {
    border: 3px solid #08266e;
}

.price__state {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.state__dicount {
    color: #000;
    background-color: #edd453;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 11px;
    padding-right: 56px;
    margin-bottom: 21px;
}

.state__prod-title {
    font-family: var(--ff-varta);
    font-weight: 700;
    font-size: 35px;
    max-width: 329px;
    line-height: 51px;
    margin-bottom: 21px;
}

.price__feature {
    display: grid;
    grid-template-columns: 159px 171px;
    row-gap: 20px;
    margin-bottom: 10px;
    justify-content: flex-end;
    column-gap: 120px;
}

.price__articul {
    display: flex;
    align-items: center;
    color: #555048;
}

.price__reit {
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
}

.price__reit > svg {
    margin-right: 10px;
}

.price__costfull {
    color: #ff838c;
}

.price__recall {
    color: #999;
    line-height: 22px;
    justify-self: end;
}

.price__cost-rebate {
    color: #555048;
    justify-self: flex-end;
}

.cost-rebate__val {
    margin-left: 6px;
}
.price__total-cost {
    font-family: var(--ff-varta);
    font-weight: 700;
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 12px;
}

.price__stock {
    display: flex;
    align-items: center;
    color: #08266e;
    margin-bottom: 35px;
}

.price__stock > svg {
    margin-right: 10px;
}

.price__description {
    width: 100%;
}

.description__item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.description__items {
    padding-bottom: 14px;
}

.description__items:not(:last-child) {
    border-bottom: 1px solid #999;
    margin-bottom: 14px;
}

.description__title {
    line-height: 22px;
    color: #555048;
}

.price__btns {
    display: grid;
    grid-template-columns: repeat(2, 219px);
    grid-gap: 12px;
    margin-bottom: 21px;
}

.price__btn,
.price__checkout {
    background-color: #08266e;
    color: #fff;
    padding-top: 13px;
    padding-bottom: 14px;
    border: 1px solid transparent;
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
}

.price__checkout {
    grid-column: 1/3;
}

.price__btn:hover,
.price__checkout:hover {
    background-color: transparent;
    color: #08266e;
    border: 1px solid #08266e;
}

.price__support {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.support__link {
    color: #555048;
    display: flex;
    align-items: center;
    transition: color 0.3s ease 0s;
}

.support__link:hover {
    color: #08266e;
}

.support__link:hover > svg > path {
    fill: var(--color-text);
}

.support__link > svg {
    margin-right: 10px;
}

.support__link:not(:last-child) {
    margin-bottom: 13px;
}

.about-to__price-title {
    margin-bottom: 50px;
    font-family: var(--ff-varta);
    font-weight: 400;
    font-size: 40px;
}

.about-to__item {
    display: grid;
    grid-template-columns: 73px 174px 1fr 1fr;
    padding-left: 23px;
    padding-right: 36px;
    padding-top: 39px;
    padding-bottom: 40px;
    background-color: #fff;
}

.about-to__item:not(:last-child) {
    margin-bottom: 16px;
}

.about-to__input {
    width: 16px;
    height: 16px;
    padding-top: 111px;
    align-self: center;
    justify-self: center;
}

.about-to__img-cont {
    padding-top: 29px;
    padding-bottom: 39px;
    padding-right: 10px;
    padding-left: 26px;
}

.about-to__text {
    display: flex;
    flex-direction: column;
    margin-left: 91px;
}

.text__articul {
    color: #555048;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
}

.text__name {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 12px;
}

.text__size-prod {
    display: flex;
    margin-bottom: 12px;
}

.text__size-prod > span {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.text__size-prod > span:not(:last-child) {
    margin-right: 26px;
}

.size__height > svg,
.size__width > svg,
.size__length > svg {
    margin-right: 5px;
}

.text__material {
    margin-bottom: 12px;
    color: #555048;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.text__color {
    margin-bottom: 12px;
    color: #555048;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.about-to__cost {
    font-family: var(--ff-varta);
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    justify-self: end;
}

.slider-first {
    padding-bottom: 100px;
}

.slider-first__title {
    font-family: var(--ff-varta);
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    margin-bottom: 50px;
}

.swiper-pagination {
    display: none;
    position: absolute;
    bottom: unset;
    width: unset;
    right: 10px;
    top: 10px;
    left: unset;
}

.swiper_scrollbar {
    display: none;
    opacity: 1 !important;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 5px;
    background-color: #000;
    border-radius: unset;
    z-index: 4;
}

.swiper_scrollbar > .swiper-scrollbar-drag {
    background-color: #000;
    height: 4px;
    border-radius: unset;
}

.price__picture-preview {
    padding-top: 30px;
}

@media screen and (max-width: 992px) {
    .price__top {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .price__picture {
        width: 100%;
    }

    .price__picture-big {
        max-width: unset;
    }

    .picture__perview-wrap {
        grid-template-columns: repeat(4, 1fr);
    }

    .perview__slide {
        cursor: pointer;
        margin: 0 auto;
    }

    .price__state {
        width: 100%;
    }

    .state__prod-title {
        max-width: unset;
        margin: 0 auto 21px auto;
    }

    .price__feature {
        margin: 0 auto 10px auto;
    }

    .price__btns {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .price__support {
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }

    .support__link:not(:last-child) {
        margin-bottom: unset;
    }
}

@media screen and (max-width: 768px) {
    .about-to__cost {
        grid-column: 3 / 5;
    }

    .about-to__input {
        grid-row: 1 / 3;
    }

    .about-to__text {
        grid-column: 3 / 5;
    }
}

@media screen and (max-width: 568px) {
    .swiper-pagination {
        display: block;
    }

    .swiper_scrollbar {
        display: block;
    }

    .price__picture-preview {
        display: none;
    }

    .price__next,
    .price__prev {
        display: none;
    }

    .about-to__item {
        grid-template-columns: 73px 160px 1fr 1fr;
    }

    .about-to__cost {
        justify-self: unset;
    }

    .about-to__img-cont {
        padding: 29px 0 39px 0;
    }

    .about-to__text {
        margin-left: unset;
    }

    .about-to__img {
        width: 90%;
    }

    .price__feature {
        grid-template-columns: 144px 1fr;
        grid-gap: 20px 0;
    }

    .about-to__img-cont {
        padding: 0;
        align-self: center;
        grid-row: 1 / 3;
    }

    .about-to__item {
        grid-template-columns: 10px 86px 1fr 1fr;
        padding: 20px 5px 20px 14px;
    }

    .text__size-prod > span {
        font-size: 12px;
    }

    .text__material,
    .text__color,
    .text__articul {
        font-size: 14px;
    }
}

@media screen and (max-width: 425px) {
    .slider-first__title,
    .about-to__price-title,
    .state__prod-title {
        font-size: 25px;
    }

    .price__support {
        flex-direction: column;
    }

    .support__link:not(:last-child) {
        margin-bottom: 10px;
    }

    .price__btn,
    .price__checkout {
        font-size: 12px;
    }

    .price__total-cost {
        font-size: 24px;
    }
}

@media screen and (max-width: 375px) {
    .about-to__img-cont {
        padding: 0;
        align-self: center;
        grid-row: 1 / 3;
    }

    .swiper-pagination {
        top: -4px;
        right: 10px;
    }

    .price__btn {
        grid-column: 1 / 3;
    }

    .about-to__item {
        grid-template-columns: 10px 86px 1fr 1fr;
        padding: 20px 5px 20px 14px;
    }

    .text__size-prod > span {
        font-size: 12px;
    }

    .text__material,
    .text__color,
    .text__articul {
        font-size: 14px;
    }
}
