.tree {
    padding-top: 15px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    color: #555048;
}

.tree__btn {
    font-size: 12px;
    margin-right: 15px;
}

.tree__separator {
    font-size: 12px;
    margin-right: 15px;
}
